body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* navbar */
.nav {
  height: 50px;
  background-color: #eee;
  display: flex;
  height: 50px;
  line-height: 50px;
}

.nav-left {
  background-color: beige;
  margin-left: 10px;
}

.nav-right {
  background-color: gold;
  display: flex;
  margin: 0 10px 0 auto;
}

a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.nav-icon-box {
  line-height: 55px;
}

.icon-dots {
  vertical-align: middle;
}


/* main */
.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-box img {
  width: 272px;
  display: block;
}

.main-box input {
  margin: 25px 0;
}


/* footer */
.footer {
  background-color: #ccc;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
}

.country {
  height: 50px;
  line-height: 50px;
  margin-left: 30px;
}

.footer-box {
  display: flex;
  border-top: 1px solid black;
  height: 50px;
  line-height: 50px;
}

.footer-left {
  margin-left: 20px;
}

.footer-right {
  margin: 0 20px 0 auto;
}
